In [19]:
from validator.validator import StringValidator

In [20]:
import pandas as pd


# test_df = pd.read_csv("../datasets/output_obj/lstm_100_gen.csv")
test_df = pd.read_csv("../datasets/output_obj/vae_100_gen.csv")

In [21]:
master_df = pd.read_csv("../datasets/finals/dfs/filtered_sequences_case_study.csv")

In [22]:
validator = StringValidator()
def validate_sequence(seq):
    try:
        return validator.validate(seq.replace(" ", ""))
    except:
        return False

In [23]:
def remove_spaces(seq):
    return seq.replace(" ", "")

In [24]:
test_df["decoded_text"] = test_df["decoded_text"].apply(remove_spaces)

In [25]:
test_df["valid"] = test_df["decoded_text"].apply(validate_sequence)

In [26]:
# check if sequence is in master df
test_df["in_master"] = test_df["decoded_text"].isin(master_df["sequence"].tolist())

In [27]:
test_df.head()

,sequence_id,decoded_text,sequence_length,generation_time,starter_text,valid,in_master
0,0,[3*]C(=O)C[4*].[4*]C([4*])CC(=O)OC(C)=O|[3*]-[...,182,2.051126,NaN,True,False
1,1,[3*]C(=O)C[4*].[4*]C(C)C(=O)C(=O)C(=O)CCCCCCCC...,205,1.938200,NaN,True,False
2,2,[1*]C([3*])=O.[3*]C(=O)CC(=O)C(C)C(=O)C(C)CC[4...,262,2.872796,NaN,True,False
3,3,[1*]C([3*])=O.[1*]C(=O)C(C)C(O)CCCCCC(=O)C[4*]...,187,1.674267,NaN,True,False
4,4,[3*]C(=O)C[4*].[3*]OCC(=O)C(=O)C(C)O[3*]|[3*]-...,255,2.773533,NaN,True,False

In [28]:
# check valid count
test_df["valid"].value_counts()

valid
True    100
Name: count, dtype: int64

In [29]:
test_df["in_master"].value_counts()

in_master
False    100
Name: count, dtype: int64

In [30]:
test_df.to_csv("../datasets/output_obj/vae_100_gen_labeled.csv")